flows.json
[
    {
        "id": "da1da3acd2b01b0a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3dcddec6b3706966",
        "type": "junction",
        "z": "da1da3acd2b01b0a",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "d1174de12deed6a7",
                "4d64249f04560b23",
                "412cd87458afe32b"
            ]
        ]
    },
    {
        "id": "e1c80ca37b747f75",
        "type": "junction",
        "z": "da1da3acd2b01b0a",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "594d78093e83adf9",
                "117b647b4fd5038d",
                "7377714dae89dd97",
                "480b1bdc2f726bf0"
            ]
        ]
    },
    {
        "id": "6a64198002e53a9c",
        "type": "junction",
        "z": "da1da3acd2b01b0a",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "115cef04de54266d",
                "60405cc8e84a2540",
                "8f9ee785ca70810c",
                "e1c80ca37b747f75",
                "5089e97d12b9244a"
            ]
        ]
    },
    {
        "id": "7d52ab25d3c33d71",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "In_1",
        "func": "node.value = msg.payload;\nflow[node.name] = node.value;\nmsg.topic = \"input\";\nmsg.payload = {};\nmsg.payload[node.name] = node.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode[\"initialValue\"] = 0;\nflow[node.name] = node.initialValue;",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 240,
        "wires": [
            [
                "3dcddec6b3706966"
            ]
        ]
    },
    {
        "id": "579946f2235cdbcd",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "In_2",
        "func": "node.value = msg.payload;\nflow[node.name] = node.value;\nmsg.topic = \"input\";\nmsg.payload = {};\nmsg.payload[node.name] = node.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode[\"initialValue\"] = 0;\nflow[node.name] = node.initialValue;",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 280,
        "wires": [
            [
                "3dcddec6b3706966"
            ]
        ]
    },
    {
        "id": "8b2f203309471ee9",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "In_3",
        "func": "node.value = msg.payload;\nflow[node.name] = node.value;\nmsg.topic = \"input\";\nmsg.payload = {};\nmsg.payload[node.name] = node.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode[\"initialValue\"] = 0;\nflow[node.name] = node.initialValue;",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 320,
        "wires": [
            [
                "3dcddec6b3706966"
            ]
        ]
    },
    {
        "id": "d1174de12deed6a7",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "Cond_1",
        "func": "if (msg.topic == \"input\" && eval(node.condition)) {\n  msg.topic = \"condition\";\n  msg.payload = node.name;\n  return msg; \n  }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.condition = \"flow.In_1==1 && flow.In_2==1 && flow.In_3==0\";\n",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "e1c80ca37b747f75"
            ]
        ]
    },
    {
        "id": "117b647b4fd5038d",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "State_1",
        "func": "if (msg.topic == \"condidtion\") {\n    if (true) {\n        msg.topic = \"transition\";\n        msg.payload = node.transitions[msg.payload];\n        return msg;\n    }\n}\nif (msg.topic == \"transition\" && msg.payload == node.name) {\n    flow.state = node.name;\n    flow.outputs = node.outputs;\n    msg.topic = \"output\";\n    msg.payload = node.outputs;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.initialState = true;\nif (node.initialState) {\n    flow.state = node.name;\n}\nnode.transitions = {\n    \"Cond_1\": \"State_2\",\n    \"Cond_2\": \"State_3\"\n}\nnode.outputs = {\n    \"Out_1\": 0,\n    \"Out_2\": 0,\n    \"Out_3\": 1\n}",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "6a64198002e53a9c"
            ]
        ]
    },
    {
        "id": "115cef04de54266d",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "Out_1",
        "func": "if (msg.topic == \"output\" && node.name in msg.payload) {\n    node.value = msg.payload[node.name];\n    msg.payload = node.value;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "9dbe8f06056e966e"
            ]
        ]
    },
    {
        "id": "60405cc8e84a2540",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "Out_2",
        "func": "if (msg.topic == \"output\" && node.name in msg.payload) {\n    node.value = msg.payload[node.name];\n    msg.payload = node.value;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 280,
        "wires": [
            [
                "9dbe8f06056e966e"
            ]
        ]
    },
    {
        "id": "8f9ee785ca70810c",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "Out_3",
        "func": "if (msg.topic == \"output\" && node.name in msg.payload) {\n    node.value = msg.payload[node.name];\n    msg.payload = node.value;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 320,
        "wires": [
            [
                "9dbe8f06056e966e"
            ]
        ]
    },
    {
        "id": "4d64249f04560b23",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "Cond_2",
        "func": "if (msg.topic == \"input\" ) {\n    msg.topic = \"condition\";\n    msg.payload = node.name;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.condition = \"flow.In_3==1\";\n",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "e1c80ca37b747f75"
            ]
        ]
    },
    {
        "id": "594d78093e83adf9",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "State_2",
        "func": "if (msg.topic == \"condidtion\" && flow.state == node.name) {\n    if (msg.payload in node.transitions) {\n        msg.topic = \"transition\";\n        msg.payload = node.transitions[msg.payload];\n        return msg;\n    }\n}\nif (msg.topic == \"transition\" && msg.payload == node.name) {\n    flow.state = node.name;\n    flow.outputs = node.outputs;\n    msg.topic = \"output\";\n    msg.payload = node.outputs;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.initialState = false;\nif (node.initialState) {\n    flow.state = node.name;\n}\nnode.transitions = {\n    \"Cond_1\": \"State_1\",\n    \"Cond_2\": \"State_3\"\n}\nnode.outputs = {\n    \"Out_1\": 0,\n    \"Out_2\": 1,\n    \"Out_3\": 0\n}",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "6a64198002e53a9c"
            ]
        ]
    },
    {
        "id": "7377714dae89dd97",
        "type": "function",
        "z": "da1da3acd2b01b0a",
        "name": "State_3",
        "func": "if (msg.topic == \"condidtion\" && flow.state == node.name) {\n    if (msg.payload in node.transitions) {\n        msg.topic = \"transition\";\n        msg.payload = node.transitions[msg.payload];\n        return msg;\n    }\n}\nif (msg.topic == \"transition\" && msg.payload == node.name) {\n    flow.state = node.name;\n    flow.outputs = node.outputs;\n    msg.topic = \"output\";\n    msg.payload = node.outputs;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.initialState = false;\nif (node.initialState) {\n    flow.state = node.name;\n}\nnode.transitions = {\n    \"Cond_1\": \"State_1\",\n    \"Cond_2\": \"State_3\"\n}\nnode.outputs = {\n    \"Out_1\": 1,\n    \"Out_2\": 0,\n    \"Out_3\": 0\n}",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            [
                "6a64198002e53a9c"
            ]
        ]
    },
    {
        "id": "e8785ee63bea8d04",
        "type": "comment",
        "z": "da1da3acd2b01b0a",
        "name": "State Transitions",
        "info": "",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "1ab28ff2f5bda250",
        "type": "comment",
        "z": "da1da3acd2b01b0a",
        "name": "Inputs",
        "info": "",
        "x": 190,
        "y": 380,
        "wires": []
    },
    {
        "id": "fb4f3230d15c6c9d",
        "type": "comment",
        "z": "da1da3acd2b01b0a",
        "name": "Conditions",
        "info": "",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "60034b3c62b9e99d",
        "type": "comment",
        "z": "da1da3acd2b01b0a",
        "name": "Outputs",
        "info": "",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "d12ac0647e301c77",
        "type": "inject",
        "z": "da1da3acd2b01b0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "8b2f203309471ee9"
            ]
        ]
    },
    {
        "id": "649b2cdc6fb16c7f",
        "type": "inject",
        "z": "da1da3acd2b01b0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "0",
        "payloadType": "num",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "8b2f203309471ee9"
            ]
        ]
    },
    {
        "id": "d1df1aa8ce41f000",
        "type": "inject",
        "z": "da1da3acd2b01b0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "7d52ab25d3c33d71"
            ]
        ]
    },
    {
        "id": "506b3a19b64dba70",
        "type": "inject",
        "z": "da1da3acd2b01b0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "0",
        "payloadType": "num",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "7d52ab25d3c33d71"
            ]
        ]
    },
    {
        "id": "99b70101db01b2da",
        "type": "inject",
        "z": "da1da3acd2b01b0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "579946f2235cdbcd"
            ]
        ]
    },
    {
        "id": "30f39e69a294b12a",
        "type": "inject",
        "z": "da1da3acd2b01b0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "0",
        "payloadType": "num",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "579946f2235cdbcd"
            ]
        ]
    },
    {
        "id": "412cd87458afe32b",
        "type": "debug",
        "z": "da1da3acd2b01b0a",
        "name": "inputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "480b1bdc2f726bf0",
        "type": "debug",
        "z": "da1da3acd2b01b0a",
        "name": "conditions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "5089e97d12b9244a",
        "type": "debug",
        "z": "da1da3acd2b01b0a",
        "name": "transitions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "9dbe8f06056e966e",
        "type": "debug",
        "z": "da1da3acd2b01b0a",
        "name": "outputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 200,
        "wires": []
    }
]