experiments/tdo-templates-setdelay.json
[
    {
        "id": "14899cc76b048f4b",
        "type": "tab",
        "label": "TDR Subflow templates",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f0c183823043a90",
        "type": "switch",
        "z": "14899cc76b048f4b",
        "name": "SEL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "6b935b6ae56c5f11"
            ],
            [
                "c315b2d2de1f66d8"
            ],
            [
                "18ddc70c0ef1ead6"
            ]
        ],
        "outputLabels": [
            "reset",
            "true",
            "false"
        ]
    },
    {
        "id": "6b935b6ae56c5f11",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "RST",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "18ddc70c0ef1ead6"
            ]
        ]
    },
    {
        "id": "18ddc70c0ef1ead6",
        "type": "delay",
        "z": "14899cc76b048f4b",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 560,
        "wires": [
            [
                "bb7b1bb6dca209f5"
            ]
        ]
    },
    {
        "id": "ee7d20821b59b89d",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "432b3edcefe3eb33"
            ]
        ]
    },
    {
        "id": "862b1511403889e6",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "432b3edcefe3eb33"
            ]
        ]
    },
    {
        "id": "8d5569a0da17d579",
        "type": "debug",
        "z": "14899cc76b048f4b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 520,
        "wires": []
    },
    {
        "id": "3ba3b59f6306acad",
        "type": "switch",
        "z": "14899cc76b048f4b",
        "name": "SEL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 740,
        "wires": [
            [
                "a24d29050adbcbc7"
            ],
            [
                "f7d88babc250725c"
            ],
            [
                "f7d88babc250725c",
                "346462a44b43829b"
            ]
        ],
        "outputLabels": [
            "reset",
            "false",
            "true"
        ]
    },
    {
        "id": "a24d29050adbcbc7",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "RST",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 780,
        "wires": [
            [
                "346462a44b43829b"
            ]
        ]
    },
    {
        "id": "346462a44b43829b",
        "type": "delay",
        "z": "14899cc76b048f4b",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 780,
        "wires": [
            [
                "b02935ed85d585ba"
            ]
        ]
    },
    {
        "id": "f7d88babc250725c",
        "type": "function",
        "z": "14899cc76b048f4b",
        "name": "gate",
        "func": "if (msg.payload && context.get(\"timed\")) {\n    context.set(\"timed\", false);\n    return msg;\n} else if (!msg.payload && !context.get(\"timed\")) {\n    context.set(\"timed\", true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"timed\", true);",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 740,
        "wires": [
            [
                "df5bf8d7d97ee38e"
            ]
        ]
    },
    {
        "id": "a1aafae8dea0552d",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "8365e482d59140c3"
            ]
        ]
    },
    {
        "id": "dfe6814e232dbd33",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "8365e482d59140c3"
            ]
        ]
    },
    {
        "id": "df5bf8d7d97ee38e",
        "type": "debug",
        "z": "14899cc76b048f4b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 740,
        "wires": []
    },
    {
        "id": "b02935ed85d585ba",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 780,
        "wires": [
            [
                "f7d88babc250725c",
                "a24d29050adbcbc7"
            ]
        ]
    },
    {
        "id": "9b7ce612371f8b05",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "RST",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "bb3fd0f11a0248ea"
            ]
        ]
    },
    {
        "id": "30fb8a9c5f72f5b3",
        "type": "switch",
        "z": "14899cc76b048f4b",
        "name": "SEL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "9b7ce612371f8b05"
            ],
            [
                "7f819ee7d0dda398"
            ],
            [
                "bb3fd0f11a0248ea"
            ]
        ],
        "outputLabels": [
            "reset",
            "false",
            "true"
        ]
    },
    {
        "id": "bb3fd0f11a0248ea",
        "type": "delay",
        "z": "14899cc76b048f4b",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "64d21fc0b8b6091b"
            ]
        ]
    },
    {
        "id": "9fc02f6cbcf80956",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "e27c0df873215d40"
            ]
        ]
    },
    {
        "id": "5026960a4db9fe6b",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "e27c0df873215d40"
            ]
        ]
    },
    {
        "id": "e3d3382b11ca2e3f",
        "type": "debug",
        "z": "14899cc76b048f4b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 240,
        "wires": []
    },
    {
        "id": "7d57da4be817673f",
        "type": "comment",
        "z": "14899cc76b048f4b",
        "name": "On Delay",
        "info": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b014d0800eb01fc",
        "type": "comment",
        "z": "14899cc76b048f4b",
        "name": "Off Delay",
        "info": "",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "7b493bdfffeb787f",
        "type": "comment",
        "z": "14899cc76b048f4b",
        "name": "On Interval",
        "info": "",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "1331abc2042fdd23",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "ADD",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "30fb8a9c5f72f5b3"
            ]
        ]
    },
    {
        "id": "b5e22f79cf4cfd55",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "ADD",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 740,
        "wires": [
            [
                "3ba3b59f6306acad"
            ]
        ]
    },
    {
        "id": "c4e84511b2d68e35",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "ADD",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 520,
        "wires": [
            [
                "9f0c183823043a90"
            ]
        ]
    },
    {
        "id": "4507e23bb2156211",
        "type": "comment",
        "z": "14899cc76b048f4b",
        "name": "Set Delay",
        "info": "",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "bb7b1bb6dca209f5",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 560,
        "wires": [
            [
                "6b935b6ae56c5f11",
                "c315b2d2de1f66d8"
            ]
        ]
    },
    {
        "id": "64d21fc0b8b6091b",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 280,
        "wires": [
            [
                "9b7ce612371f8b05",
                "7f819ee7d0dda398"
            ]
        ]
    },
    {
        "id": "c315b2d2de1f66d8",
        "type": "function",
        "z": "14899cc76b048f4b",
        "name": "gate",
        "func": "if (!msg.payload && context.get(\"timed\")) {\n    context.set(\"timed\", false);\n    return msg;\n} else if (msg.payload && !context.get(\"timed\")) {\n    context.set(\"timed\", true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"timed\", false);",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 520,
        "wires": [
            [
                "8d5569a0da17d579"
            ]
        ]
    },
    {
        "id": "7f819ee7d0dda398",
        "type": "function",
        "z": "14899cc76b048f4b",
        "name": "gate",
        "func": "if (msg.payload && context.get(\"timed\")) {\n    context.set(\"timed\", false);\n    return msg;\n} else if (!msg.payload && !context.get(\"timed\")) {\n    context.set(\"timed\", true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"timed\", true);",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "e3d3382b11ca2e3f"
            ]
        ]
    },
    {
        "id": "e27c0df873215d40",
        "type": "switch",
        "z": "14899cc76b048f4b",
        "name": "SET?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "delay",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "0c17fb2f1027516b"
            ],
            [
                "1331abc2042fdd23"
            ]
        ],
        "outputLabels": [
            "set delay",
            "input"
        ]
    },
    {
        "id": "fb0f77884acf9997",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delay",
        "payload": "5",
        "payloadType": "num",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "e27c0df873215d40"
            ]
        ]
    },
    {
        "id": "a47e9f693170256a",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delay",
        "payload": "2",
        "payloadType": "num",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "e27c0df873215d40"
            ]
        ]
    },
    {
        "id": "8f6359cff2ecfc70",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "SET",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0c17fb2f1027516b",
        "type": "range",
        "z": "14899cc76b048f4b",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "5000",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "x1000",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "8f6359cff2ecfc70"
            ]
        ]
    },
    {
        "id": "432b3edcefe3eb33",
        "type": "switch",
        "z": "14899cc76b048f4b",
        "name": "SET?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "delay",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "35d81fd57f400b73"
            ],
            [
                "c4e84511b2d68e35"
            ]
        ],
        "outputLabels": [
            "set delay",
            "input"
        ]
    },
    {
        "id": "35d81fd57f400b73",
        "type": "range",
        "z": "14899cc76b048f4b",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "5000",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "x1000",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "82137bb44bca6fc2"
            ]
        ]
    },
    {
        "id": "8365e482d59140c3",
        "type": "switch",
        "z": "14899cc76b048f4b",
        "name": "SET?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "delay",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "07b0b2cb9a6fbfab"
            ],
            [
                "b5e22f79cf4cfd55"
            ]
        ],
        "outputLabels": [
            "set delay",
            "input"
        ]
    },
    {
        "id": "07b0b2cb9a6fbfab",
        "type": "range",
        "z": "14899cc76b048f4b",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "5000",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "x1000",
        "x": 450,
        "y": 700,
        "wires": [
            [
                "6b5f15061802d557"
            ]
        ]
    },
    {
        "id": "6b5f15061802d557",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "SET",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "82137bb44bca6fc2",
        "type": "change",
        "z": "14899cc76b048f4b",
        "name": "SET",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "38a54a79a8ca5e51",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delay",
        "payload": "5",
        "payloadType": "num",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "432b3edcefe3eb33"
            ]
        ]
    },
    {
        "id": "28726d35b36e2ab4",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delay",
        "payload": "2",
        "payloadType": "num",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "432b3edcefe3eb33"
            ]
        ]
    },
    {
        "id": "278d98d9ecd882a6",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delay",
        "payload": "5",
        "payloadType": "num",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "8365e482d59140c3"
            ]
        ]
    },
    {
        "id": "adf95d1f301ec219",
        "type": "inject",
        "z": "14899cc76b048f4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delay",
        "payload": "2",
        "payloadType": "num",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "8365e482d59140c3"
            ]
        ]
    },
    {
        "id": "f7480ba005ebc118",
        "type": "comment",
        "z": "14899cc76b048f4b",
        "name": "Set Delay",
        "info": "",
        "x": 320,
        "y": 460,
        "wires": []
    },
    {
        "id": "e61611bf9dd070a5",
        "type": "comment",
        "z": "14899cc76b048f4b",
        "name": "Set Delay",
        "info": "",
        "x": 320,
        "y": 680,
        "wires": []
    }
]