experiments/timer-subflows.json
[
    {
        "id": "8d6ebfa73499d6c8",
        "type": "subflow",
        "name": "On Delay",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "8cdd1599e856b60e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 140,
                "wires": [
                    {
                        "id": "2599fe9c8fc7efd4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "aa073819f0579451",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "3904b58de0ad79c0"
            ]
        ]
    },
    {
        "id": "8975728dd07f03db",
        "type": "switch",
        "z": "8d6ebfa73499d6c8",
        "name": "Select",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "aa073819f0579451"
            ],
            [
                "2599fe9c8fc7efd4"
            ],
            [
                "3904b58de0ad79c0"
            ]
        ],
        "outputLabels": [
            "reset",
            "false",
            "true"
        ]
    },
    {
        "id": "3904b58de0ad79c0",
        "type": "delay",
        "z": "8d6ebfa73499d6c8",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "9d7141a7a5a9e4cb"
            ]
        ]
    },
    {
        "id": "e1b155fd500be716",
        "type": "comment",
        "z": "8d6ebfa73499d6c8",
        "name": "On Delay",
        "info": "",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "72fc77aafcda0970",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "MSG",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "8975728dd07f03db"
            ]
        ]
    },
    {
        "id": "a02d778c8f201bd8",
        "type": "comment",
        "z": "8d6ebfa73499d6c8",
        "name": "Set Delay",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "9d7141a7a5a9e4cb",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "aa073819f0579451",
                "2599fe9c8fc7efd4"
            ]
        ]
    },
    {
        "id": "2599fe9c8fc7efd4",
        "type": "function",
        "z": "8d6ebfa73499d6c8",
        "name": "Gate",
        "func": "if (msg.payload && context.get(\"timed\")) {\n    context.set(\"timed\", false);\n    return msg;\n} else if (!msg.payload && !context.get(\"timed\")) {\n    context.set(\"timed\", true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"timed\", true);",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8cdd1599e856b60e",
        "type": "switch",
        "z": "8d6ebfa73499d6c8",
        "name": "SET?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "delay",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "5d87d2e107c90fd5"
            ],
            [
                "72fc77aafcda0970"
            ]
        ],
        "outputLabels": [
            "set delay",
            "input"
        ]
    },
    {
        "id": "18426fcbf9ba10dd",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "Flow",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5d87d2e107c90fd5",
        "type": "range",
        "z": "8d6ebfa73499d6c8",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "1000",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "x1000",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "18426fcbf9ba10dd"
            ]
        ]
    },
    {
        "id": "9a511808a1a28bd0",
        "type": "subflow",
        "name": "On Interval",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "d17822f8548643c7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 140,
                "wires": [
                    {
                        "id": "02df059b8adbe252",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3d9486bfbf8e36e3",
        "type": "switch",
        "z": "9a511808a1a28bd0",
        "name": "Select",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "4a63a2478d39bda3"
            ],
            [
                "02df059b8adbe252"
            ],
            [
                "02df059b8adbe252",
                "8b6471bd3cf8dee2"
            ]
        ],
        "outputLabels": [
            "reset",
            "false",
            "true"
        ]
    },
    {
        "id": "4a63a2478d39bda3",
        "type": "change",
        "z": "9a511808a1a28bd0",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "8b6471bd3cf8dee2"
            ]
        ]
    },
    {
        "id": "8b6471bd3cf8dee2",
        "type": "delay",
        "z": "9a511808a1a28bd0",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "add68bdf500fb376"
            ]
        ]
    },
    {
        "id": "02df059b8adbe252",
        "type": "function",
        "z": "9a511808a1a28bd0",
        "name": "Gate",
        "func": "if (msg.payload && context.get(\"timed\")) {\n    context.set(\"timed\", false);\n    return msg;\n} else if (!msg.payload && !context.get(\"timed\")) {\n    context.set(\"timed\", true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"timed\", true);",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "add68bdf500fb376",
        "type": "change",
        "z": "9a511808a1a28bd0",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "02df059b8adbe252",
                "4a63a2478d39bda3"
            ]
        ]
    },
    {
        "id": "6ae6ce73bd0ce9c2",
        "type": "comment",
        "z": "9a511808a1a28bd0",
        "name": "On Interval",
        "info": "",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "77ee2a8cc2451b16",
        "type": "change",
        "z": "9a511808a1a28bd0",
        "name": "Msg",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "3d9486bfbf8e36e3"
            ]
        ]
    },
    {
        "id": "d17822f8548643c7",
        "type": "switch",
        "z": "9a511808a1a28bd0",
        "name": "Set?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "delay",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "a6c69daffd8270e5"
            ],
            [
                "77ee2a8cc2451b16"
            ]
        ],
        "outputLabels": [
            "set delay",
            "input"
        ]
    },
    {
        "id": "a6c69daffd8270e5",
        "type": "range",
        "z": "9a511808a1a28bd0",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "1000",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "x1000",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "16442ccbf8b80639"
            ]
        ]
    },
    {
        "id": "16442ccbf8b80639",
        "type": "change",
        "z": "9a511808a1a28bd0",
        "name": "Flow",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "be8223f1ca5d658b",
        "type": "comment",
        "z": "9a511808a1a28bd0",
        "name": "Set Delay",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "3d5a186eb2ae3291",
        "type": "subflow",
        "name": "Off Delay",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "412bceebc88fb4fd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 140,
                "wires": [
                    {
                        "id": "bf79694344f6274b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f3d3d7c33fa36212",
        "type": "switch",
        "z": "3d5a186eb2ae3291",
        "name": "Select",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "bf3be979f8526856"
            ],
            [
                "bf79694344f6274b"
            ],
            [
                "209f72877f7bb18c"
            ]
        ],
        "outputLabels": [
            "reset",
            "true",
            "false"
        ]
    },
    {
        "id": "bf3be979f8526856",
        "type": "change",
        "z": "3d5a186eb2ae3291",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "209f72877f7bb18c"
            ]
        ]
    },
    {
        "id": "209f72877f7bb18c",
        "type": "delay",
        "z": "3d5a186eb2ae3291",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "d78e0834efbc3fba"
            ]
        ]
    },
    {
        "id": "09d8bc8992a6b0aa",
        "type": "comment",
        "z": "3d5a186eb2ae3291",
        "name": "Off Delay",
        "info": "",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "b2651ff82216569d",
        "type": "change",
        "z": "3d5a186eb2ae3291",
        "name": "Msg",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "f3d3d7c33fa36212"
            ]
        ]
    },
    {
        "id": "d78e0834efbc3fba",
        "type": "change",
        "z": "3d5a186eb2ae3291",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "bf3be979f8526856",
                "bf79694344f6274b"
            ]
        ]
    },
    {
        "id": "bf79694344f6274b",
        "type": "function",
        "z": "3d5a186eb2ae3291",
        "name": "Gate",
        "func": "if (!msg.payload && context.get(\"timed\")) {\n    context.set(\"timed\", false);\n    return msg;\n} else if (msg.payload && !context.get(\"timed\")) {\n    context.set(\"timed\", true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"timed\", false);",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "412bceebc88fb4fd",
        "type": "switch",
        "z": "3d5a186eb2ae3291",
        "name": "Set?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "delay",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "5dece5a00c8442b4"
            ],
            [
                "b2651ff82216569d"
            ]
        ],
        "outputLabels": [
            "set delay",
            "input"
        ]
    },
    {
        "id": "5dece5a00c8442b4",
        "type": "range",
        "z": "3d5a186eb2ae3291",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "1000",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "x1000",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "a87404d6ea9e4aca"
            ]
        ]
    },
    {
        "id": "a87404d6ea9e4aca",
        "type": "change",
        "z": "3d5a186eb2ae3291",
        "name": "Flow",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0ae3d3554fd180ce",
        "type": "comment",
        "z": "3d5a186eb2ae3291",
        "name": "Set Delay",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "7c2fba6b07467d0b",
        "type": "tab",
        "label": "TDR Subflows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55949b5f4086111f",
        "type": "subflow:3d5a186eb2ae3291",
        "z": "7c2fba6b07467d0b",
        "name": "",
        "x": 280,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0c4084360b071922",
        "type": "subflow:9a511808a1a28bd0",
        "z": "7c2fba6b07467d0b",
        "name": "",
        "x": 280,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7b8e7c46ce7f1019",
        "type": "subflow:8d6ebfa73499d6c8",
        "z": "7c2fba6b07467d0b",
        "name": "",
        "x": 280,
        "y": 140,
        "wires": [
            []
        ]
    }
]